# Digipalvelutehdas test account for Kielihack

## General

We have created a dedicated, temporary environment for Kielihack for deploying your web applications on a modern
containerized platform. The platform UI is available at

https://eduhack.digipalvelutehdas.fi:8443

## Test account

Here are your test account details:

username: {{ username }}
password: {{ password }}

## Resources

By default, the test account can have

* 2 projects
* each project with
    * 2 persistent volumes
    * 8 containers, max 1 core and 1GB RAM each

If the default set of resources is not sufficient for your use case, please come and ask for more.

## Rules

- Consider other users of the platform
- The platform is open the to whole internet, so take care in deploying your applications
- No sensitive data should be placed on the platform
- The Kielihack environment is deleted after the event

## Pointers

Check https://github.com/tourunen/kielihack2017 for more information on how to get started.

Thanks for trying out digipalvelutehdas.fi platform!
