<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kielihack credentials</title>
    <style>
        body {
            font-family: sans-serif;
        }
        h1{

        }
        .link {
            font-family: monospace;
            font-size: 120%;
            font-weight: bold;
            margin: 1em;
        }
        .credentials {
            font-family: monospace;
            font-size: 120%;
            font-weight: bold;
        }
        .thanks {
            font-family: monospace;
            font-size: 120%;
            font-weight: bold;
            margin: 2em;
            justify-content: center;
        }
    </style>

</head>
<body>

<h1>Digipalvelutehdas test account for Kielihack</h1>

We have created a dedicated, temporary environment for Kielihack for deploying your web applications on a modern
containerized platform. The platform UI is available at

<div class="link">
<a href="https://eduhack.digipalvelutehdas.fi:8443">https://eduhack.digipalvelutehdas.fi:8443</a>
</div>

<h2>Test account</h2>

Here are your test account details:

<div class="credentials">
    <pre>

    username: {{ username }}
    password: {{ password }}

    </pre>
</div>

<h2>Resources</h2>

By default, the test account can have
<ul>
    <li>2 projects</li>
    <li>each project with
        <ul>
            <li>2 persistent volumes</li>
            <li>8 containers, max 1 core and 1GB RAM each</li>
        </ul>
    </li>
</ul>

If the default set of resources is not sufficient for your use case, please come and ask for more.

<h2>Rules</h2>

<ul>
    <li>Consider other users of the platform</li>
    <li>The platform is open the to whole internet, so take care in deploying your applications</li>
    <li>No sensitive data should be placed on the platform</li>
    <li>The Kielihack environment is deleted after the event</li>
</ul>

By using the platform you indicate that you have read and understood the rules above.

<h2>Pointers</h2>

Check

<div class="link">
<a href="https://github.com/tourunen/kielihack2017">https://github.com/tourunen/kielihack2017</a>
</div>

for information on how to get started.

<div class="thanks">
    Thanks for trying out Digipalvelutehdas platform!
</div>

</body>
</html>
